{{ define "title" }}
    Gideon's musings
{{ end }}
{{ define "main" }}
<main class="list-view musings-list">
    <header>
        <h1>muse | mjuːz |</h1>
        <p class="defn-type">verb [no object]</p>
        <p class="defn-descr">be absorbed in thought: <span class="defn-ex">he was musing on
            the problems he faced</span>.</p>
    </header>
    <hr />
    <ul>{{ range .Pages }}{{ if not .Params.draft }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }} ({{ .Date.Format "2006-01-02" }})
            </a>
        </li>
    {{ end }}{{ end }}</ul>
</main>
{{ end }}
