{{ define "title" }}{{ if .Params.draft }}[DRAFT] {{ end }}{{ .Params.Title }}{{ end }}
{{ define "description" }}{{ if .Params.abstract }}{{ .Params.abstract }}{{ else }}{{ truncate 300 .Content }}{{ end }}{{ end }}
{{ define "main" }}
<article class="musing">
    <header>
        <h1>{{ if .Params.draft }}[DRAFT] {{ end }}{{ .Params.Title }}</h1>
        <p class="subtitle">
            {{ dateFormat "2" .Date | humanize }} of {{ dateFormat "January, 2006" .Date }}
            {{ if not (eq (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02")) }}
            (updated: {{ .Lastmod.Format "2006-01-02" }})
            {{ end }}
        </p>
        <p class="subtitle wordcount">
            {{ .WordCount }} words
        </p>
    </header>

    {{ if and (gt .WordCount 400) (.Params.toc) }}
    <aside class="item-toc">
        <h2>Contents</h2>
        {{ .TableOfContents }}
    </aside>
    {{ end }}

    <div class="item-content">
        {{ .Content }}
    </div>

    {{ if $.Page.Params.citations }}
    <footer class="bibliography">
        <h2>References</h2>
        <ol>
            {{ range $ind,$citation := $.Page.Params.citations }}
            {{ $i := add $ind 1 }}
            <li id="citation-{{ $i }}">
                [{{ $i }}]:
                <i>{{ $citation.label }}</i>
                <br/>
                <a href="{{ $citation.src }}" title="{{ $citation.label }}">{{ $citation.src | truncate 35 }}</a>
                {{ if $citation.retrieved }}
                <br/><span>Retrieved: {{ $citation.retrieved }}</span>
                {{ end }}
            </li>
            {{ end }}
        </ol>
    </footer>
    {{ end }}
</article>
{{ end }}
