<p>I am one of two cofounders of <a href="https://www.converge.io"
title="Converge">Converge</a>, a startup we founded in late 2014 to
build a physical intelligence layer for the construction industry in
order to address the glaring efficiency and sustainability problems in
what I would argue is one of the world's most fundamental industries. As
CTO I lead the technical functions in the business and spend most of my
time on technical architecture and vision.</p>

<p>Before founding Converge, I was a star-fancier-in-training at
King's College, Cambridge, where I read Natural Sciences, followed
by an MSci in Astrophysics in which I completed my thesis on <a
href="projects/x-ray-jets-solar-atmosphere/" title="master's thesis
on temperature bounds on x-ray jets in the solar atmosphere">the
temperature bounds on x-ray jets in the solar atmosphere</a>.</p>

<p>I have been programming for most of my life, and have picked up a
nice handful of languages along the way, some of which I have really
enjoyed (Javascript, Clojure) and some of which I really have not (I'm
looking at you, Java). Currently, I'm still deep in my mad affair with
Haskell, which I write everything in, except for some shell scripts
and the odd sprinkling of Typescript when needs must. I also use arch,
btw.</p>

<img src="/desk.png" alt="keyboard with archlinux slate" />

<p>My core interests are in architecture and the built environment
(especially the construction of future environments and how such
environments influence the social structures that develop); the
intersection of human rights and cyberspace; and inducing social
change to tackle large-scale human problems like climate change (as a
counterpoint to techno-optimism/fatalism).</p>

<p>You can see my projects either on <a href="https://sr.ht/~gtf"
title="gtf on sourcehut">sourcehut</a> or <a
href="https://github.com/gfarrell" title="gfarrell on github">github</a>
(I can't make my mind up, but am transitioning away from github very
slowly), and you can talk to me by emailing gideon [at] gtf [dot]
io.</p>
