.page-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 2em 4em;

    .bio {
        margin-top: 2em;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }

    img {
      justify-self: center;
    }
}
