@import "home.scss";
@import "lists.scss";
@import "single.scss";

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-container {
    padding: 0 1em;
    max-width: 600px;
}

hr {
    margin: 2em auto;
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;

    &:after {
        content: '👾';
        position: relative;
        top: -0.6em;
        padding: 0 0.5em;
        background: white;
    }
}

.site-footer {
    margin-top: 3em;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .footer-item {
        padding: 0em 1em;
        border-right: thin solid #CCC;
    }
    .footer-item:last-child {
        border-right: none;
    }

    @media only print {
        display: none;
    }
}

.site-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5em;

    @media only print {
        display: none;
    }
}

nav {
    display: flex;
    flex-direction: row;

    .nav-item {
        padding: 0em 1em;
        border-right: thin solid #CCC;

        &:last-child {
            border-right: none;
        }
        &.active {
            font-weight: bold;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.health-warning {
    font-style: italic;
}

blockquote {
    border-left: thin solid #CCC;
    margin: 0 1em;
    padding-left: 1em;
    font-style: italic;
}
