header .subtitle {
    font-size: 0.9em;
}

.item-content {
    margin-top: 2em;
    text-align: justify;
}

.retrieval-date {
    vertical-align: super;
    font-size: 0.6em;
    font-style: italic;
}

.bibliography ol {
    list-style-type: none;
    padding: 0;
}
