a[rel="footnote"] {
    text-decoration: none;
    color: inherit;
}

ol.footnotes {
    list-style: none;
    counter-reset: foonotes-counter;
    padding-left: 0;

    li {
        margin-left: 0;
        counter-increment: footnotes-counter;

        &::before {
            content: counter(footnotes-counter);
            vertical-align: super;
            font-size: 0.8em;
        }
    }

    a {
        text-decoration: none;
    }
}
