.list-view header {
    .defn-type, .defn-ex {
        font-style: italic;
    }
}

.list-view ul {
    padding-left: 0;
    list-style-type: none;

    li {
        padding-bottom: 0.5em;
        &:last-child {
            padding-bottom: 0;
        }
    }
}
