<p>I am one of two cofounders of <a href="https://converge.io"
title="Converge website">Converge</a>, a startup we founded in 2014
to use physical data from construction sites to close the $1.6T
productivity deficit in the industry. In my capacity as CTO I work a
lot in both embedded systems and also complex event processing, ML, and
cloud-based software development. Unfortunately I do not spend as much
of my time programming as I would like these days, but I have been at
it since I was a small child, starting with Python and butchering DOS
games. These days I have a strong interest in functional programming
(it appeals to the mathematician in me), as well as stream processing
and distributed systems. I am also increasingly diving into statistics,
specifically machine learning as we introduce more intelligence into our
platform.</p>

<p>Before founding Converge, I was a star-fancier-in-training at King's
College, Cambridge, where I read Natural Sciences, followed by an MSci
in Astrophysics.</p>

<p>In the small amount of life one is allowed outside one's startup, I
am very interested (and dismayed) by the effect of corporate and state
surveillance on society, as well as the effects of the internet on
shaping human preferences. My political views are not exactly secret,
and I would place myself firmly in the classical liberal tradition as
well as being scientific sceptic and having general left-leanings in
terms of social policy.</p>
