<p>I am one of two cofounders of <a href="https://www.converge.io"
title="Converge website">Converge</a>, where we are working to close
the $1.6T productivity deficit in the construction industry by using
physical data from wireless sensor networks to feed a data model of the
construction process. Before that I was a star-fancier-in-training at
King's College, Cambridge, where I read Natural Sciences, followed by an
MSci in Astrophysics.</p>

<p>I have programmed for most of my life, starting with butchering
DOS games and writing python as a ten-year-old. Now I have a strong
interest in functional programming, and elegant (but never clever)
code. I 💖 Javascript (although sometimes it makes me 🙄), but am now
getting increasingly into Rust and Lisps (e.g. clojure). I like using
Python whenever I need to analyse some data. Oh, and I use vim, for
everything.</p>

<p>I am a scientific sceptic, and a classical liberal with
left-leanings.</p>
