<p>I am one of two cofounders of <a href="https://www.converge.io"
title="Converge">Converge</a>, a startup we founded in late 2014 to
build a physical intelligence layer for the construction industry in
order to address the glaring efficiency and sustainability problems in
what I would argue is one of the world's most fundamental industries.
As CTO, I work across the embedded systems side (although it's not
my area of expertise) as well as data processing pipelines, semantic
understanding, and general system architecture.</p>

<p>Before founding Converge, I was a star-fancier-in-training at King's
College, Cambridge, where I read Natural Sciences, followed by an MSci
in Astrophysics.</p>

<p>I have been programming for most of my life, starting with building
little toys in Python (and continually breaking my OS &mdash; I grew up on
Linux thanks to one of my uncles), and then moving on to butchering DOS
games. Now my interest mostly lies in functional programming, especially
having discovered Haskell, and ways of building complex ontologies which
map to the &quot;real&quot; world.</p>

<p>My core interests are in architecture and the built environment
(especially the construction of future environments and how such
environments influence the social structures that develop); the
intersection of human rights and cyberspace; and inducing social
change to tackle large-scale human problems like climate change (as a
counterpoint to techno-optimism/fatalism).</p>

<p>You can talk to me on Twitter, where I am <a
href="https://twitter.com/gideonfarrell" title="@gideonfarrell on
Twitter">@gideonfarrell</a>, or by email, by emailing gideon [at] gtf
[dot] io.</p>
