{{ define "title" }}All Projects{{ end }}
{{ define "description" }}A list of my personal projects. Some of these are programming-related, some are more scientific (e.g. my master's thesis), hopefully there will be many other types, too.{{ end }}
{{ define "main" }}
<main class="list-view projects-list">
    <header>
        <h1>project | ˈprɒdʒɛkt |</h1>
        <p class="defn-type">noun</p>
        <p class="defn-descr">
           an individual or collaborative enterprise that is carefully
           planned to achieve a particular aim: <span class="defn-ex">a
           research project | a project to build a new power
           station</span>.
        </p>
    </header>
    <hr />
    <ul>{{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }} ({{ .Params.Category }})
            </a>
        </li>
    {{ end }}</ul>
</main>
{{ end }}
