{{ define "title" }}
    Project: {{ .Params.Title }}
{{ end }}
{{ define "main" }}
<article class="project">
    <header>
        <h1>{{ .Params.Title }}</h1>
        <p class="subtitle">{{ .Date.Format "2006" }}
        | {{ .Params.Category }}
        {{ if isset .Params "language" }}
        | {{ .Params.language }}
        {{ end }}
        {{ if isset .Params "github" }}
        | <a href="{{ .Params.github }}" title="View on Github">[github]</a>
        {{ end }}
        {{ if isset .Params "pdf" }}
        | <a href="./{{ .Params.pdf }}" title="Download PDF">[download PDF]</a>
        {{ end }}
        </p>
    </header>

    {{ if and (gt .WordCount 400) (.Params.toc) }}
    <aside class="item-toc">
        <h2>Contents</h2>
        {{ .TableOfContents }}
    </aside>
    {{ end }}

    <div class="item-content">
        {{ .Content }}
    </div>

    {{ if $.Page.Params.citations }}
    <footer class="bibliography">
        <h2>References</h2>
        <ol>
            {{ range $ind,$citation := $.Page.Params.citations }}
            {{ $i := add $ind 1 }}
            <li id="citation-{{ $i }}">
                [{{ $i }}]:
                <i>{{ $citation.label }}</i>
                <br/>
                <a href="{{ $citation.src }}" title="{{ $citation.label }}">{{ $citation.src | truncate 35 }}</a>
                {{ if $citation.retrieved }}
                <br/><span>Retrieved: {{ $citation.retrieved }}</span>
                {{ end }}
            </li>
            {{ end }}
        </ol>
    </footer>
    {{ end }}
</article>
{{ end }}
