{{ define "title" }}
Homepage
{{ end }}
{{ define "description" }}
Gideon Farrell is one of the cofounders of Converge, recovering astrophysicist, and programmer. This website contains musings, projects, and other things.
{{ end }}
<!DOCTYPE html>
<html>
    <head lang="en">
        {{ partial "head.html" . }}
        <title>Gideon's corner of Internet: homepage</title>
        <meta name="description" content="Gideon Farrell's personal website, containing thoughts on technology, society, and programming, as well as personal projects." />
    </head>
    <body>
        <div class="top-container">
            <main class="page-home content-container" aria-role="main">
                <h1>[gtf]</h1>
                <p class="health-warning">a work in progress</p>

                {{ partial "menu.html" . }}

                <section class="bio">
                    {{ partial "short_bio.html" }}
                </section>
            </main>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
